{% extends "posts/base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-PostsIndexPage{% endblock %}

{% block content %}

    <!-- Banner -->
  {% if editorial %}
  <section id="banner">
    {% with editorial=editorial.specific%}
    <div class="content">
      <header>
        <h2>{{ editorial.title }}</h2>
      </header>
      <p>{{ editorial.intro }}</p>
      <ul class="actions">
        <li><a href="{% pageurl editorial %}" class="button big">Leggi</a></li>
      </ul>
    </div>
    <span class="image object">
      {% if editorial.main_image %}
      <a href="{% pageurl editorial %}" class="image">
        {% image editorial.main_image fill-160x100 %}
      </a>
      {% endif %}
    </span>
    {% endwith %}
  </section>
  {% endif %}

  <!-- Section -->
  <section>
    <header class="major">
      <h2>Articoli</h2>
    </header>
    <div class="posts">
      {% for post in postpages %}
      {% with post=post.specific%}
      <article>
        {% if post.main_image %}
        <a href="{% pageurl post %}" class="image">
          {% image post.main_image fill-160x100 %}
        </a>
        {% endif %}
        <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
        <p>{{ post.intro }}</p>
        <ul class="actions">
          <li><a href="{% pageurl post %}" class="button">Leggi</a></li>
        </ul>
      </article>
      {% endwith %}
    {% endfor %}
    </div>
  </section>

{% endblock %}
  