{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}
  <section>
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.data }}</p>

    {% with categorie=page.categorie.all %}
      {% if categorie %}
        <strong>Categoria:</strong>

        {% for categoria in categorie %}
        <a href="#" class="button special small">{{ categoria.name }}</a>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <hr />

    {{ page.body|richtext }}

    <hr />

    <div>
      <h3>Link Correlati</h3>
      {% for item in page.related_links.all %}
        <li><a href='{{ item.url }}'>{{ item.url }}</a></li>
      {% endfor %}
    </div>

    <hr />

    {% if page.tags.all.count %}
      <div>
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
          <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="button small">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
  </section>

{% endblock %}

